boto3==1.7.77
cryptography==2.2.2
apache-airflow==1.9.0
apache-airflow[celery]==1.9.0
apache-airflow[crypto]==1.9.0
apache-airflow[postgres]==1.9.0
apache-airflow[rabbitmq]==1.9.0
psycopg2-binary==2.7.4
ipdb==0.11
